{% extends 'blog/base.html' %}

{% block content %}
    <div class="post_sub">
          <h1>{{ post.title }}</h1>
    </div>
    <div class="post bg_card">
        <div class="post_icon">
            <a class="btn btn-default btn-sm" href="{% url 'blog:post_edit' post.pk %}"><span class="glyphicon glyphicon-pencil"></span> </a>
            <form action="{% url 'blog:post_delete' post.pk %}" method="post" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.pk }}"/>
                <button type="submit" class="btn btn-default btn-sm">
                    <span class= "glyphicon glyphicon-trash"></span>
                </button>
            </form>
        </div>
        <div>
            <img src="{{ post.upload_img.url }}" class="img-responsive hn_img">
        </div>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if post.published_date %}
            <p class="date">{{ post.created_date }}</p>
        {% endif %}
    </div>
{% endblock %}