{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post_sub">
                <h1><a  href="{% url 'blog:post_detail' pk=post.pk %}" style="color: black">{{ post.title }}</a></h1>
        </div>
        <div class="post bg_card">
            <div><br>
                <img src="{{ post.upload_img.url }}" class="img-responsive hn_img">
            </div>
            <p>{{ post.text|linebreaksbr }}</p>
            <p class="date">{{ post.created_date }}</p>
        </div>
    {% endfor %}
{% endblock content %}